.circular-progress{

}

.container{
    display: flex;
    width: 300px;
    padding: 10px 0;
    /* background: white; */
    border-radius: px;
    flex-direction: column;
    align-items: center;
}
.circular-progress{
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg,#ededed 300deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.circular-progress::before{
    content: "";
    position: absolute;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    /* background-color: white; */
    background-image: radial-gradient(circle,#9650DB,#25005C);
}

.progress-value{
    position: absolute;
}